.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.card {
    border: 2px solid red;
    width: 200px;
    height: 300px;
    overflow: hidden;
}

.card-img {
    width: 100%;
}